$h: "loos-wide", sans-serif;
$tonic: "gigalypse", sans-serif;
$p: "loos-compressed", sans-serif;
$logo: "Chango", cursive;

$font-size: 1.5rem;
$font-size--max: 2.5rem;
$font-size--min: 1rem;
$font-size--increment: 0.25rem;

$light: 400;
$regular: 500;
$bold: 700;
$ultra: 800;

%h{
    font-family: $h;
    font-weight: $ultra;
}

@for $i from 1 through 4 {
  $font-size: $font-size--max - ($i - 1) * $font-size--increment;
  h#{$i} {
    @extend %h;
  }
}

p, a, span{
    font-family: $p;
    font-weight: $light;
}

.f--logo{
  font-family:$logo;
}

.f--tonic{
  font-family: $tonic;
}

nav ul.f--nav li a{
  font-family: $h;
  font-weight: $ultra;
}