@use './config/tailwind'; //garder en haut complètement pour pouvoir overwrite tous les styles de base dans mon compiler.
@use './theme/colors';
@use './theme/fonts';


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .dashed-line {
      background-image: repeating-linear-gradient(
          to right, 
          white 0, 
          white 16rem,  /* Length of the white dash */
          transparent 16rem, 
          transparent 20rem /* Gap between dashes */
      );
  }

.input-control{
    display:flex;
    flex-direction:column;
    & .errorMessage{
      color: colors.$red;
      font-size: fonts.$font-size--min;
      line-height: fonts.$font-size--min;
      font-family: fonts.$p;
      font-weight: fonts.$bold;
    }
}

.errorMessage{
  display:none;
}

.input-control.success input, .input-control.success textarea{
    border-color: colors.$success;
    
}

.input-control.error input, .input-control.error textarea{
    border-color: colors.$red;
}